.container {
    display: inline-block;
    width: 2000px;
    height: 2000px;
}

.container .item-wrapper {
    height: 100px;
}

.container .item {
    display: inline-block;
    position: relative;
    width: 100px;
    height:100px;
    box-sizing: border-box;
}

.controller {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(153, 153, 153);
}

.direction {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000;
    margin: auto;
}

.direction#left {
    top: 0;
    left: 0;
    bottom: 0;
}

.direction#up {
    top: 0;
    left: 0;
    right: 0;
}

.direction#right {
    top: 0;
    right: 0;
    bottom: 0;
}

.direction#down {
    right: 0;
    left: 0;
    bottom: 0;
}

.top, .bottom {
    width: 100%;
    height: 50%;   
}

.side-left, .side-right {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.direction div:hover {
    background-color: #fff;
}

.selected {
    border: 1px solid red;
}

#delete {
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.evolution-panel {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
}

.evolution-panel form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
}
.evolution-panel label {
    flex-basis: 60%;
    margin-bottom: 20px;
}

.evolution-panel input, .evolution-panel select {
    /* flex-basis: 20%; */
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid #2D2D2D;
    font-size: 1.0em;
}

.evolution-panel select {
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    /* margin: 0; <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.evolution-panel .button-field {
    margin: 70px auto 0;
}

.button-field button {
    font-size: 1.0em;
}
